<html lang="en">
<head>
    <link rel="stylesheet" href="/assets/styles.css">
    <meta charset="utf-8">
    <title>Ethics</title>
</head>
<body>

  <main>
    <section id="introduction">
      <h2>Introduction</h2>
      <p>Ethical codes are put in place for many developers for us. Without them we become hackers and cyber crimnials without these regulations</p>
    </section>

    <section id="guidelines">
      <h2>Basic Guidelines</h2>
      <ul>
        <li>Contribute to society and to human well-being</li>
        <li>Avoid harm</li>
        <li>Respect privacy</li>        </ul>
        <p>To learn more in-depth, visit the <a href="https://www.acm.org/code-of-ethics" target="_blank">ACM Code of Ethics</a>.</p>

    </section>

    <section id="best-practices">
      <h2>Best Practices</h2>
      <p>Stand Against Unethical Coding</p>
      <p>Work Together for Accurate Data</p>
      <p>To learn more about these tips, visit the <a href="https://bok.ahima.org/codingstandards" target="_blank">Coding Standards</a>.</p>

    </section>

    <!-- Add more sections as needed -->

  </main>
</body>
</html>